@charset "UTF-8";

#site {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f3f5fa;
    padding: 60px;
}

.review {
    width: 70%;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    margin: 15px;
    border-radius: 50px;
}

.userBlue {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.checked {
    color: orange;
  }
  p {
    position: relative;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 50px;
    color: #37517e;
}

h6 {
    color: #979797;
    font-size: 0.8rem;
    padding-left: 60px;
    top: -3em;
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Jost", sans-serif;
    line-height: 20px;
    font-size: 17px;
    font-weight: 500;
    top: -3em;
}